/*Div principale*/
#projects {
  background: linear-gradient(to bottom, #090e21, #090e21 95%, #f5f0fe 100%);
  padding-bottom: 5em;
}

/*Filter*/
.title-filter {
  border-bottom: 1px solid #fff6bb;
  padding-bottom: 2px;
}

.filter-by {
  display: flex;
  padding-top: 4em;
}

.div-filter-buttons {
  display: flex;
  margin-left: 3vw;
}

.button-filter {
  font-size: 20px;
  background-color: #090e21;
  border: 1px solid #fff6bb;
  border-radius: 20px;
  cursor: pointer;
  transition: all, 0.6s;
  padding: 7px 25px 7px 25px;
  margin-right: 3vw;
}

.button-filter:hover {
  color: #090e21;
  background-color: #fff6bb;
}

/*Div d'un projet*/
.one-project {
  display: flex;
  margin-top: 5em;
}

/*Images*/
.one-project .techno-project {
  display: flex;
  margin-right: 20%;
  width: 20%;
  height: 500px;
  position: relative;
  opacity: 0;
  transition: all, 0.4s;
}

.techno-project:hover {
  background-color: rgba(100, 100, 100, 0.3);
  opacity: 1;
}

.one-project {
  width: 90%;
  height: 500px;
  position: relative;
}

.one-project .img-project {
  margin-left: -40%;
  margin-right: 10%;
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.text-skills-project {
  margin-right: 4em;
}

.li-skills-project {
  width: 10em;
  margin-bottom: 1em;
}

.icon-project {
  font-size: 35px;
}

/*Texte*/
.text-project {
  margin-left: 10%;
  width: 40%;
}

@media screen and (min-width: 660px) and (max-width: 960px) {
  /*Filter*/
  .button-filter {
    font-size: 2vw;
  }
}

@media screen and (max-width: 660px) {
  .div-filter-buttons {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .button-filter {
    font-size: 3vw;
    margin-bottom: 1em;
  }
}
