main {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #f5f0fe, #f5f0fe 70%, #090e21 100%);
  padding-bottom: 6em;
}

.text-main {
  margin-right: 3em;
}

.hobbies,
.biopic {
  margin-bottom: 5em;
}
