main {
  display: flex;
  background-color: #222425;
  padding-bottom: 6em;
  margin-top: 200px;
}

.text-main {
  margin-right: 3em;
}

.hobbies,
.biopic {
  margin-bottom: 3em;
}

@media screen and (min-width: 660px) and (max-width: 1010px) {
  main {
    margin-top: 650px;
    padding-bottom: 10em;
  }

  .picture-me {
    width: 300px;
    height: 300px;
    margin: 3em 1em 0em 1em;
    align-self: flex-start;
  }
}

@media screen and (max-width: 660px) {
  main {
    margin-top: 60px;
    padding-bottom: 0em;
    flex-direction: column;
  }

  .picture-me {
    width: 50vw;
    height: 50vw;
    margin: 3em 1em 0em 1em;
    align-self: center;
  }

  .text-main {
    margin: 0em 1em 0em 1em;
    font-size: 14px;
  }
}
