#skills {
  border-top: 1px solid #fef0f5;
  margin-top: 2em;
}

/*Div*/
.div-web,
.div-others,
.div-soft-skills {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.div-icons-others,
.div-icons-web {
  width: 50%;
}

.div-icons-soft-skills {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

/*Icônes*/
.icons-skills {
  width: 55px;
  height: 55px;
  margin: 0em 1em 1em 0em;
  border: 1px solid #fef0f5;
  border-radius: 100%;
  padding: 10px;
}

.express-icon,
.terminal-icon {
  filter: invert(40%);
}

/*Soft-skills*/
.icon-soft-skill {
  font-size: 40px;
  padding: 10px;
}
