#skills {
  background-color: #222425;
  border-top: dashed 1px #f5f0fe;
}

/*Div*/
.div-web,
.div-others {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
  padding-bottom: 3em;
}

.div-icons-others,
.div-icons-web {
  width: 50%;
}

/*Icônes*/
.icons-skills {
  width: 55px;
  height: 55px;
  margin: 0em 1em 1em 0em;
  border: 1px solid #f5f0fe;
  border-radius: 100%;
  padding: 10px;
}

.express-icon,
.terminal-icon {
  filter: invert(60%);
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .title-skills {
    font-size: 20px;
  }

  .div-icons-others,
  .div-icons-web {
    width: 70%;
  }

  .icons-skills {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width: 600px) {
  .div-web,
  .div-others {
    flex-direction: column;
    align-items: center;
  }

  .div-others {
    margin-top: -3em;
  }

  .title-skills {
    font-size: 17px;
  }

  .div-icons-others,
  .div-icons-web {
    width: 90%;
    margin-left: 10vw;
  }

  .icons-skills {
    width: 28px;
    height: 28px;
  }
}
