#contact {
  background-color: #222425;
  border: 1px solid #f5f0fe;
  border-radius: 5em;
  margin-bottom: 3em;
}

.div-one-contact {
  display: flex;
  margin-top: 1em;
}

.contact {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 18vw;
  height: 12em;
  display: flex;
  flex-wrap: wrap;
}

.contact-icon {
  align-self: center;
}

.contact-text,
.contact-a {
  font-size: 1em;
}

.contact-a {
  background-color: #222425;
  color: #f5f0fe;
  padding: 5px;
  border-radius: 25px;
  width: 20vw;
  transition: all, 0.6s;
}

.contact-a:hover {
  background-color: #f5f0fe;
  color: #222425;
}

@media screen and (max-width: 1000px) {
  .contact {
    padding-left: 12vw;
    height: 10em;
  }

  .contact-text,
  .contact-a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 660px) {
  #contact {
    border-radius: 1em;
  }

  .contact {
    padding-left: 0;
    height: auto;
    flex-wrap: nowrap;
  }

  .div-one-contact {
    margin-left: 10vw;
  }

  .contact-text,
  .contact-a {
    font-size: 0.8em;
  }

  .contact-a {
    width: 50vw;
  }
}
