.div-one-contact {
  display: flex;
  margin-top: 1em;
}

.contact {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 10vw;
  height: 15em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-icon {
  align-self: center;
}

.contact-text,
.contact-a {
  font-size: 1em;
}

/* .contact-a {
  border-bottom: 0px;
}

.contact-a:hover {
  border-bottom: 1px solid #fef0f5;
  transition: all, 1s;
} */
