#contact {
  background-color: #090e21;
}

.div-one-contact {
  display: flex;
  margin-top: 1em;
}

.contact {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10vw;
  height: 15em;
  display: flex;
  flex-wrap: wrap;
}

.contact-icon {
  align-self: center;
}

.contact-text,
.contact-a {
  font-size: 1em;
}
