header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  position: fixed;
  top: 0;
  left: 37%;
  z-index: -1;
  /* width: 100%;
  background-image: url("../../../images/IMG_3376.webp"); */
}

h1 {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  padding-left: 0.1em;
}

.h2-header {
  margin: 2em 0em 3em 0em;
  padding-left: 0.5em;
}

.a-header {
  font-size: 1.5vw;
  background-color: #090e21;
  border: 1px solid #fff6bb;
  padding: 1vw 5vw 1vw 5vw;
  border-radius: 2em;
  /* Transitions */
  transition: all 0.6s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.a-header:hover {
  font-size: 1.7vw;
  color: #090e21;
  background-color: #fff6bb;
}
