footer {
  background-color: #090e21;
}

.a-footer {
  align-self: center;
}

.copyright {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fef0f5;
}

.footer-icon {
  font-size: 18px;
}

.footer-icon:hover {
  color: #fff6bb;
  transition: all, 0.4s;
}

@media screen and (max-width: 450px) {
  .copyright {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
  }

  .footer-text {
    font-size: 16px;
  }

  .footer-icon {
    font-size: 16px;
  }
}
