footer {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.3em -0.47em -0.5em -0.47em;
}

.footer-text {
  font-size: 1.5vw;
  margin-bottom: 0em;
}

.footer-title {
  text-transform: uppercase;
  scroll-behavior: smooth;
}

.footer-year {
  font-weight: 500;
}

.ul-footer {
  display: flex;
}

.li-footer {
  margin-right: 2vw;
}

.footer-icon {
  font-size: 2vw;
}

.footer-icon:hover,
.footer-title:hover {
  transition: all 0.8s;
  color: #fff6bb;
}

.a-footer,
.footer-text {
  color: #f5f0fe;
}
