footer {
  border-top: 1px solid #fef0f5;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}

.a-footer {
  align-self: center;
}

.copyright {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em 2em 0em;
  padding-top: 1em;
  border-top: 1px solid #fef0f5;
}

i {
  font-size: 25px;
  margin: 0.5em;
}

i:hover {
  color: #fff6bb;
  transition: all, 0.4s;
}
