footer {
  background-color: #222425;
  margin: -0.5em;
  border-top: 1px solid #f5f0fe;
}

.a-footer {
  align-self: center;
}

.copyright {
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  font-size: 18px;
  background-color: #222425;
  padding: 5px;
  border-radius: 5px;
  transition: all, 0.4s;
}

.footer-icon:hover {
  background-color: #f5f0fe;
  border-radius: 10px;
  color: #222425;
}

@media screen and (max-width: 450px) {
  .copyright {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
  }

  .footer-text {
    font-size: 16px;
  }

  .footer-icon {
    font-size: 16px;
  }
}
