* {
  list-style-type: none;
}

body {
  background-color: #090e21;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.z-index {
  z-index: 1;
}

/*Couleurs*/
.white {
  color: #f5f0fe;
}

.yellow {
  color: #fff6bb;
}

.blue {
  color: #090e21;
}

i {
  font-size: 25px;
  margin: 0.5em;
}

/*Text*/
.basic {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.center {
  text-align: justify;
}

.border {
  border-bottom: 1px solid #090e21;
}
