nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #f5f0fe;
  /* position: fixed;
  width: 100%;
  margin: -2em 0em 0em -1em; */
}

.ul-nav {
  display: flex;
}

.li-nav {
  margin-left: 1vw;
}
