/* .div-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.logo {
  width: 8vw;
  border-radius: 10vw;
}

.nav-bar {
  background-color: #262626;
  border-radius: 2vw;
  width: 8vw;
}

.ul-nav {
  display: flex;
  flex-direction: column;
}

.not-colored {
  color: #f5f0fe;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: -1vw;
  font-size: 4vw;
  cursor: pointer;
}

.not-colored:hover {
  color: #262626;
  background-color: #fff6bb;
  padding: 10px;
  border-radius: 10vw;
}
